 .landingPage {
  position: relative;
  background-image: url('../../../assets/pexels-photo-10390494.webp');
  background-size: cover;
  height: 80vh; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.content {
  z-index: 1;
  color: white;
}

.ctaButton {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #ff5722;
  border: none;
  color: white;
  cursor: pointer;
}

.ctaButton:hover {
  background-color: #e64a19;
}
